@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("www.messenger.com") {
/*Source can be found at https://github.com/ekohilas/messenger-hover */

/*no idea*/
._2ogr::before {
    content: none
}
._1enh:hover ._2ogr::before {
    content: ''
}

/*unread color*/
._1ht3._1ht1 {
    background-color: rgba(0, 132, 255, .2);
    -webkit-transition: background-color .5s
}
/*non icon stuff*/
._1ht5 ._1qt4 {
    display: none !important;
}
._1enh:hover ._1ht5 ._1qt4 {
    display: flex !important;
}
.safari.webkit ._1enh:hover ._1ht5 ._1qt4 {
    display: -webkit-flex !important;
}

/*side bar size change*/
._1enh._7q1s {
    flex-basis: 74px;
    min-width: 74px;
    transition: flex-basis 0.1s, min-width 0.1s;
}
.safari.webkit ._1enh {
    -webkit-flex-basis: 74px;
    -webkit-transition: -webkit-flex-basis 0.1s, min-width 0.1s;
}
  
/* customizable sizing */
._1enh:hover {
    flex-basis: 25%;
    max-width: 420px;
    min-width: 320px;
}
.safari.webkit ._1enh:hover {
    -webkit-flex-basis: 25%;
}
/*hide "messenger" text*/
._36ic ._1tqi {
    display: none
}
._1enh:hover ._36ic ._1tqi {
    display: inline-block
}

/*messenger header centering*/
._36ic {
    justify-content: center
}
.safari.webkit ._36ic {
    -webkit-justify-content: center
}
._1enh:hover ._36ic {
    justify-content: space-between
}
._1enh:hover .safari.webkit ._36ic {
    -webkit-justify-content: space-between
}

/*new message tab*/
._4wzs {
    overflow-x: hidden;
}
._1bqr {
    display: none
}
._1enh:hover ._1bqr {
    display: inline-block;
}

/*option gear*/
._4kzu {
    display: none
}
._1enh:hover ._4kzu {
    display: inline-block
}

/* on top toggle by mmacq */
/* z-index needs to be that high to be on top of the header (._673w)*/
/* on 
._1t2u{
    margin-left: 74px;
}
._1enh {
    position: fixed;
    max-width: 74px;
    z-index: 300;
    background: inherit;
    border-right: 1px solid rgba(0, 0, 0, .10);
}
*/
    
/* icon toggle*/
/* on
._1enh:hover ._2j6{
    -webkit-transition-duration: 0.1s !important;
    bottom: 16px !important;
    right: 10px !important;
}
._2j6{
    -webkit-transition-duration: 0.1s !important;
    bottom: 9px !important;
    right: 11px !important;
}
*/
/* off
._1enh:hover ._2j6{
    -webkit-transition-duration: 0.1s !important;
    -webkit-transition-delay: 0.1s !important;
    visibility: visible !important;
}
._2j6{
    visibility: hidden !important;
}
*/

/*search bar toggle*/
/* on
._5iwm{
    -webkit-transition-duration: 0.1s !important;
    height: 0px !important;
    padding: 0px !important;
    visibility: hidden !important;
}
._1enh:hover ._5iwm{
    -webkit-transition-duration: 0.1s;
    height: 100% !important;
    padding: 12px !important;
    visibility: visible !important;
}
*/
}
